%h2 Sign up
= form_for(@user, url: user_registration_path) do |f|
  = render "devise/shared/error_messages", resource: @user
  .field
    = f.label "ニックネーム"
    %br/
    = f.text_field :nickname
  .field
    = f.label "メールアドレス"
    %br/
    = f.email_field :email, autofocus: true, autocomplete: "email"
  .field
    = f.label "パスワード"
    - if @minimum_password_length
      %em
        (#{@minimum_password_length} characters minimum)
    %br/
    = f.password_field :password, autocomplete: "new-password"
  .field
    = f.label "パスワード(確認)"
    %br/
    = f.password_field :password_confirmation, autocomplete: "new-password"
  .field
    = f.label "苗字"
    %br/
    = f.text_field :last_name
  .field
    = f.label "名前"
    %br/
    = f.text_field :first_name
  .field
    = f.label "苗字カナ"
    %br/
    = f.text_field :j_last_name
  .field
    = f.label "名前カナ"
    %br/
    = f.text_field :j_first_name
  .field
    = f.label "生年月日"
    %br/
    = f.date_select(                        |
      :birthday,                            |
      use_month_numbers: true,              |
      start_year:     1930,                 |
      end_year:       (Time.now.year),      |
      default:        Date.new(1989, 1, 1), |
      date_separator: '/')                  |
  .field
    = f.label "携帯電話番号"
    %br/
    = f.text_field :phone_number
  .actions
    = f.submit "Sign up"
= render "devise/shared/links"
