.wrapper
  // ヘッダー
  = render partial: 'mypages/users/header'
  // リンクバー
  = render partial: 'mypages/users/link_bar'
  // 検索商品一覧
  %main.main_box
    .product_search
      .product_search__text
        %h2.product_search__text--title
          = params[:keyword]+" 商品一覧"
      %ul.product_search__list
        - @products.each do |product|
          %li.product_search__list--item
            = link_to product_path(product.id) ,class: 'item_link' do
              = image_tag asset_path('aaa.jpg'), class: 'item_image'
              .item_detail
                %h3.item_detail__name= product.name
                .item_detail__box
                  %ul.item_detail__box--list
                    %li.item_price= product.price.to_s + "円"
                    %li.item_favorite
                      = icon("far", "heart") + "0"
                  %p.item_tax (税込)
      = paginate(@products)
  // フリマ広告
  = render partial: 'mypages/users/advertisement'
  // ヘッダー
  = render partial: 'mypages/users/footer'
  // 出品ボタン
  = render partial: 'mypages/users/exibition_btn'