.container
  %header.header
    .header__inner
      .header__inner--search
        %h1.title
          = link_to image_tag('logo.png', {alt: 'FURIMA', class: 'furima_icon'}), root_path, class: 'link_top_page'
        = render partial: 'products/search'
      .header__inner--nav
        %ul.nav_left
          %li.nav_left__category
            = link_to root_path, class: 'nav_left__category--link' do
              =icon("fas", "list-ul")
              %span カテゴリー
          %li.nav_left__brand
            = link_to root_path, class: 'nav_left__brand--link' do
              =icon("fas", "tag")
              %span ブランド
        %ul.nav_right
          %li.nav_right__favorite
            = link_to root_path, class: 'nav_right__favorite--link' do
              = icon("far", "heart")
              %span いいね！一覧
          %li.nav_right__info
            = link_to root_path, class: 'nav_right__info--link' do
              =icon("far", "bell")
              %span お知らせ
          %li.nav_right__doing
            = link_to root_path, class: 'nav_right__doing--link' do
              =icon("fas","check")
              %span やることリスト
          %li.nav_right__mypage
            = link_to user_path, class: 'nav_right__mypage--link' do
              = image_tag 'member_photo_noimage_thumb.png', class: 'user_icon'
              %span マイページ
  -# メルカリ リンクバー
  -# -# %nav.link_bar
  -#   %ul.link_bar__list
  -#     %li.link_bar__list--top_page
  -#     %li.link_bar__list--mypage
  %main.main_box
    .side
      %nav.side_bar
        %ul.side_bar__top
          %li.side_bar__top--mypage
          %li.side_bar__top--doing
          %li.side_bar__top--favorite
          %li.side_bar__top--sell
          %li.side_bar__top--exhibiting
          %li.side_bar__top--transaction
          %li.side_bar__top--sold
          %li.side_bar__top--purchasing
          %li.side_bar__top--evaluation
          %li.side_bar__top--inquiry
        %h3.title フリマ
        %ul.side_bar__middle
          %li.side_bar__middle--sale
          %li.side_bar__middle--point
        %h3.configration 設定
        %ul.side_bar__bottom
          %li.side_bar__bottom--profile
          %li.side_bar__bottom--shipping_origin
          %li.side_bar__bottom--payment
          %li.side_bar__bottom--mail_pass
          %li.side_bar__bottom--identity
          %li.side_bar__bottom--mobile_phone
          %li.side_bar__bottom--logout
    .content
      .main_content
        %section.main_content__user-icon
        %section.main_content__tab
          %ul.tab
            %li.tab__notification
            %li.tab__doing
          .container
            %ul.container__list
              %li.container__list--info
              %li.container__list--info
              %li.container__list--info
              %li.container__list--info
              %li.container__list--info
            -# %ul.container__list
            -#   %li.container__list--info
            -#   %li.container__list--info
            -#   %li.container__list--info
            -#   %li.container__list--info
            -#   %li.container__list--info
        %section.main_content__purchase
          %h2.purchase
          %ul.purchase__tab
            %li.purchase__tab--during_trading
            %li.purchase__tab--past_transaction
          .product_list
            %ul.product_list__during_trading
              %li.product_list__during_trading--info
            -# %ul.product_list__past_transaction
            -#   %li.product_list__during_trading--info
  %aside.app_banner
    %section.inner
      %h2.inner__title だれでもかんたん、人生を変えるフリマアプリ
      %p.inner__text 今すぐ無料ダウンロード
      .inner__icon
        %a{ href: '#'}
          %img{ src: "", alt: "" , class: 'icon_app_store'}
        %a{ href: '#'}
          %img{ src: "", alt: "", class: 'icon_google_play'}
  %footer.footer
    %ul.footer_contents
      %li.footer_content
        %h2.footer_content__text FURIMAについて
        %ul.footer_content__list
          %li.footer_content__list--info
            %a{ href: '#'}
          %li.footer_content__list--info
            %a{ href: '#'}
          %li.footer_content__list--info
            %a{ href: '#'}
          %li.footer_content__list--info
            %a{ href: '#'}
      %li.footer_content
        %h2.footer_content__text FURIMAを見る
        %ul.footer_content__list
          %li.footer_content__list--info
            %a{ href: '#'}
          %li.footer_content__list--info
            %a{ href: '#'}
      %li.footer_content
        %h2.footer_content__text ヘルプ&ガイド
        %ul.footer_content__list
          %li.footer_content__list--info
            %a{ href: '#'}
          %li.footer_content__list--info
            %a{ href: '#'}
          %li.footer_content__list--info
            %a{ href: '#'}
    .footer_logo
      %a{ href: '#'}
        %img{ src: "", alt: "", class: ''}
    %p.furima FURIMA


