.wrapper
  -# ヘッダー
  = render partial: 'mypages/users/header' 
  -# メルカリ リンクバー
  = render partial: 'mypages/users/link_bar'
  -# メインページ
  %main.main_box
    -# サイドタブ
    = render partial: 'mypages/users/side_bar'
    -# メインタブ
    .cards_add
      %section.cards_add__box
        %h2.cards_add__box--text 支払い方法
        .cards_add__box__block
          %section.cards_add__box__block--list クレジットカード一覧
          - if @card.present?
            %section.cards_add__box__block--info
              .cards_info
                = image_tag(asset_path(@card_image), width: 36, height: 25, alt:'creditcard')
                %p.cards_info__number
                  = "**** **** **** " + @card_info.last4 #クレジットカードの下4桁
                %P.cards_info__date
                  = @exp_month.rjust(2, '0') + "/" + @exp_year
                = link_to "削除する", "/mypages/users/:user_id/cards/:id", method: :delete, class:'cards_info__delete'
          - else
            %section.cards_add__box__block--btn
              = link_to new_mypages_user_card_path, class: 'add_link' do
                = icon("far", "credit-card")
                %span.add_link__text クレジットカードを追加する
          .cards_add__box__block--method 
            = link_to root_path, class: 'method_link' do
              %span.method_link--text 支払い方法について
              = icon('fas', 'angle-right')
  -# フリマ広告
  = render partial: 'mypages/users/advertisement'
  -# フッター
  = render partial: 'mypages/users/footer'
  -# 出品ボタン
  = render partial: 'mypages/users/exibition_btn'