.contents
  .divise--header
    .devise--header__logo
      = image_tag 'logo.png'
  .login--main
    .login--main__container
      .login--main__container__head
        %p.register--description アカウントをお持ちでない方はこちら
        = link_to '新規登録', new_user_registration_path, class: 'btn btn-register'
      .login--main__container__form
        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          .form--group
            = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス", class: 'register--email'
          .form--group
            = f.password_field :password, autocomplete: "current-password", placeholder: "パスワード", class: 'register--password'
          .form--group
            = f.submit "ログイン", class: 'register--submit__btn'
  .devise--footer
    %nav
      %ul 
        %li 
          プライバシーポリシー
        %li 
          FURIMA利用規約
        %li 
          特定商取引に関する表記   
    .devise--footer_logo
      = image_tag 'logo-white.png'
      %p.logo--link @FURIMA