.wrapper
  -# ヘッダー
  = render partial: 'header'
  -# メルカリ リンクバー
  = render partial: 'link_bar'
  -# メインページ
  %main.main_box
    -# サイドタブ
    = render partial: 'side_bar'
    -# メインタブ
    .main_content
      %section.main_content__user-icon
        = link_to root_path, class: 'main_content__user-icon--link' do
          %figure.user_icon_box
            = image_tag asset_path('member_photo_noimage_thumb.png'),class: 'user_icon_status'
          %h2.bold 田中太郎
          .user_status
            .user_status__evaluation 評価
            .user_status__number 0
            .user_status__exhibition 出品数
            .user_status__number 0
      -# お知らせ・やることリスト タブ
      %section.main_content__tab
        %ul.tab
          %li.tab__info.active
            %h3.tab__info--link お知らせ
          %li.tab__info
            %h3.tab__info--link やることリスト
        -# メッセージ
        .container
          -# お知らせ メッセージ文
          %ul.container__info.action
            %li.container__info--list
              = link_to root_path, class: 'info_link' do
                %p.furima_logo
                  = image_tag asset_path('58edaa13a6b37f05ce71038d567bd9a1.png'), class: 'furima_logo__image'
                .info_message
                  .info_message__content 事務局から個別メッセージ「《500円分のポイントが必ずもらえる》友達紹介のお知らせ」
                  %time.post_time
                    = icon("far", "clock")
                    %span 1日前
                = icon("fas", "angle-right")
            %li.container__info--list
              = link_to root_path, class: 'info_link' do
                %p.furima_logo
                  = image_tag asset_path('58edaa13a6b37f05ce71038d567bd9a1.png'), class: 'furima_logo__image'
                .info_message
                  .info_message__content 事務局から個別メッセージ「《500円分のポイントが必ずもらえる》友達紹介のお知らせ」
                  %time.post_time
                    = icon("far", "clock")
                    %span 1日前
                = icon("fas", "angle-right")
            %li.container__info--list
              = link_to root_path, class: 'info_link' do
                %p.furima_logo
                  = image_tag asset_path('58edaa13a6b37f05ce71038d567bd9a1.png'), class: 'furima_logo__image'
                .info_message
                  .info_message__content 事務局から個別メッセージ「《500円分のポイントが必ずもらえる》友達紹介のお知らせ」
                  %time.post_time
                    = icon("far", "clock")
                    %span 1日前
                = icon("fas", "angle-right")
            %li.container__info--list
              = link_to root_path, class: 'info_link' do
                %p.furima_logo
                  = image_tag asset_path('58edaa13a6b37f05ce71038d567bd9a1.png'), class: 'furima_logo__image'
                .info_message
                  .info_message__content 事務局から個別メッセージ「《500円分のポイントが必ずもらえる》友達紹介のお知らせ」
                  %time.post_time
                    = icon("far", "clock")
                    %span 1日前
                = icon("fas", "angle-right")
            %li.container__info--list
              = link_to root_path, class: 'info_link' do
                %p.furima_logo
                  = image_tag asset_path('58edaa13a6b37f05ce71038d567bd9a1.png'), class: 'furima_logo__image'
                .info_message
                  .info_message__content 事務局から個別メッセージ「《500円分のポイントが必ずもらえる》友達紹介のお知らせ」
                  %time.post_time
                    = icon("far", "clock")
                    %span 1日前
                = icon("fas", "angle-right")
          -# やることリスト メッセージ文
          %ul.container__info
            %li.container__info--list
              = link_to root_path, class: 'info_link' do
                %p.furima_logo
                  = image_tag asset_path('58edaa13a6b37f05ce71038d567bd9a1.png'), class: 'furima_logo__image'
                .info_message
                  .info_message__content ご登録のメールアドレスに認証メールを送りました。メールに記載のURLをクリックして、メールアドレスを認証してください。
                  %time.post_time
                    = icon("far", "clock")
                    %span 7日前
                = icon("fas", "angle-right")
          -# 一覧表示（共通）
          %ul.container__bar
            %li.container__bar__list
              = link_to "一覧を見る", root_path, class: 'container__bar__list--button'
      -# 購入した商品
      %section.main_content__purchase
        %h2.purchase 購入した商品
        %ul.purchase_box
          %li.purchase_box__tab.choise
            %h3.purchase_box__tab--link 取引中
          %li.purchase_box__tab
            %h3.purchase_box__tab--link 過去の取引
        .product
          %ul.product__list.display
            %li.product__list--info 取引中の商品がありません
          %ul.product__list
            %li.product__list--info 過去に取引した商品がありません。
  -# フリマ広告
  = render partial: 'advertisement'
  -# フッター
  = render partial: 'footer'
  -# 出品ボタン
  = render partial: 'exibition_btn'