.product--main__container
  = form_for @product do |f|
    .product--main__container__head
      %label 
        %text 出品画像
        %span 必須
        %br/ 
      #image-box
        #previews
          - if @product.persisted?
            - @product.images.each_with_index do |image, i|
              = image_tag image.src.url, data: { index: i }, width: "96", height: '100', class: "js-file_image"
        = f.fields_for :images do |image|
          %label.js-file_group{"data-index": "#{image.index}"}
            = image.file_field :src, class: 'js-file'
            %br/
            .js.post{"data-index": "#{image.index}"} 投稿
            .js.remove{"data-index": "#{image.index}"} 削除
          - if @product.persisted?
            = image.check_box :_destroy, data:{ index: image.index }, class: 'hidden-destroy'
        - if @product.persisted?
          %label.js-file_group{"data-index": "#{@product.images.count}"}
            = file_field_tag :src, name: "product[images_attributes][#{@product.images.count}][src]", class: 'js-file'
            .js.post{"data-index": "#{@product.images.count}"} 投稿
            .js.remove{"data-index": "#{@product.images.count}"} 削除
        .error_explanation-image
          = @product.errors.full_messages_for(:images).first
    .product--main__container__description
      .product__form--group
        = f.label "商品名"
        %span 必須
        %br
        = f.text_field :name, class: 'product--name'
        .error_explanation
          = @product.errors.full_messages_for(:name).first
      .product__form--group
        = f.label "説明文"
        %span 必須
        %br
        = f.text_area :detail, placeholder: '商品の説明（色、素材、重さ、定価、注意点など）', class: 'product--detail', rows: "6"
        .error_explanation
          = @product.errors.full_messages_for(:detail).first
    .product--main__container__details
      %p.product--form__description 商品の詳細
      -if @product.category_id == nil then
        .product__form--group
          = f.label "カテゴリー"
          %span 必須
          %br
          = f.select :category_id,@category_parent_array,{},{class:'product--main__container__details__category',id: 'product_parent_category_id'}
        .product--main__container__details__category__child
        .product--main__container__details__category__grandchild
          .error_explanation
            = @product.errors.full_messages_for(:category_id).first
      -else
        .product__form--group
          = f.label "カテゴリー"
          %span 必須
          %br
          = f.select :category_id, options_for_select(@category_parent_array.map{|c|[c,{}]},@product.category.root.name),{},{class: 'product--main__container__details__category', id: 'product_parent_category_id'}
        .product--main__container__details__category__child
          = f.select :category_id, options_for_select(@category_child_array.map{|c|[c.name, c.id,{"data-category": c.id},'id'=>c[:id]]}, @product.category.parent.id), {}, {class: 'product--main__container__details__category__child__select', id: 'product_child_category_id'}
        .product--main__container__details__category__grandchild
          = f.select :category_id, options_for_select(@category_grandchild_array.map{|c|[c.name, c.id,{"data-category": c.id},'id'=>c[:id]]}, @product.category.id), {}, {class: 'product--main__container__details__category__grandchild__select', id: 'product_grandchild_category_id'}
      .product__form--group
        = f.label "ブランド"
        %span.default 任意
        %br
        = f.fields_for :brand do |b|
          = b.text_field :name, placeholder: '例）シャネル', class: 'product--brand'
      .product__form--group
        = f.label "商品の状態"
        %span 必須
        %br
        = f.select :condition, Product.conditions.keys, prompt: '選択してください'
        .error_explanation
          = @product.errors.full_messages_for(:condition).first
    .product--main__container__delivery
      %p.product--form__description 発送について
      .product__form--group
        = f.label "配送料の負担"
        %span 必須
        %br
        = f.select :shopping_charges, Product.shopping_charges.keys, prompt: '選択してください'
        .error_explanation
          = @product.errors.full_messages_for(:shopping_charges).first
      .product__form--group
        = f.label "発送元の地域"
        %span 必須
        %br
        = f.select :delivery_area, Product.delivery_areas.keys, prompt: '選択してください'
        .error_explanation
          = @product.errors.full_messages_for(:delivery_area).first
      .product__form--group
        = f.label "発送までの日数"
        %span 必須
        %br
        = f.select :delivery_date, Product.delivery_dates.keys, prompt: '選択してください'
        .error_explanation
          = @product.errors.full_messages_for(:delivery_date).first
    .product--main__container__price
      %p.product--form__description 価格（¥300〜¥9,999,999）
      .product__form--group
        = f.label "販売価格"
        %span 必須
        %text ¥
        = f.text_field :price, placeholder: '0', type: 'number', class: 'product--price'
        .error_explanation-price
          = @product.errors.full_messages_for(:price).first
      %p.product--form__note 販売手数料（10%）
    .product--main__container__submit
      = f.submit "出品する", class: 'product--submit__btn'
      = link_to "もどる", root_path
      %p.product--form__note 禁止されている行為および出品物を必ずご確認ください。偽ブランド品や盗難物などの販売は犯罪であり、法律により処罰される可能性があります。また出品をもちまして加盟店規約に同意したことになります。