トップページ
- if user_signed_in?
  = link_to 'ログアウト', destroy_user_session_path, method: :delete
  = current_user.nickname
  = link_to '商品出品', new_product_path
  - @products.each do |product|
    = product.name
    = product.detail
    = product.condition
    = product.status
    = product.delivery_area
    = product.category.name
    - product.images.each do |image|
      = image_tag image.src.url
- else
  = link_to '新規登録', new_user_registration_path
  = link_to 'ログイン', new_user_session_path