= link_to 'トップページへ', maintops_path
- if user_signed_in?
  = link_to 'ログアウト', destroy_user_session_path, method: :delete
  = current_user.nickname
  = link_to '商品出品', new_product_path
  = link_to 'マイページ', mypages_user_path(current_user.id)
  - @products.each do |product|
    = link_to "詳細", product_path(product)
    - if current_user.id == product.user.id
      = link_to "編集", edit_product_path(product)
      = link_to "削除", product_path(product), method: :delete
    = product.name
    = product.detail
    = product.condition
    = product.status
    = product.delivery_area
    - product.images.each do |image|
      = image_tag image.src.url
- else
  = link_to '新規登録', new_user_registration_path
  = link_to 'ログイン', new_user_session_path