.contents
  = render "maintop/header"
  .Main
    .showMain
      .productBox
        .productBox__name
          %h2= @product.name
        .productBox__body
          %ul
            - @product.images.each_with_index do |image, i|
              %li
                - if i == 0
                  = image_tag image.src.url, width: '75', height: '75', class: 'top-image'
                = image_tag image.src.url, width: '75', height: '75'
        .productBox__price
          %text ¥
          = @product.price
          %p (税込)送料込み
        .productBox__detail
          = @product.detail
        %table{ border: "1", bordercolor: "#DDDDDD", cellspacing: "0", cellpadding: "5", width: "620" }
          %tr 
            %th{ bgcolor: "#EEEEEE", width: "150" } 出品者
            %td{ width: "450" }
              = @product.user.nickname
          %tr 
            %th{ bgcolor: "#EEEEEE" }  カテゴリー
            %td
              = @product.category.root.name
              %br
              %br
              = @product.category.parent.name
              %br
              %br
              = @product.category.name
          %tr 
            %th ブランド
            - if @product.brand_id?
              %td= @product.brand.name   
          %tr 
            %th 商品の状態
            %td= @product.condition       
          %tr 
            %th 配送料の負担
            %td= @product.shopping_charges
          %tr 
            %th 発送元の地域
            %td
              = link_to @product.delivery_area, '#'
          %tr 
            %th 発送までの日数
            %td= @product.delivery_date
          %tr 
            %th 取引状態
            %td= @product.status
        .productBox__link
          - if @product.user.id == current_user.id
            = link_to '編集', edit_product_path(@product), class: 'btn btn-link'
            = link_to '削除', product_path(@product), method: :delete, class: 'btn btn-link'
          - else
            = link_to '商品購入', product_transactions_path(@product.id), class: 'btn btn-link'
          = link_to 'もどる', root_path, class: 'btn btn-link'
        .productBox__optional
          .productBox__optional__likeBtn
            %i.fas.fa-star
            %text お気に入り 0
          .productBox__optional__reportBtn
            %i.fas.fa-flag
            = link_to '不適切な商品の通報', '#', class: 'report-btn'
      .commentBox
        .commentBox__new
          %textarea{ rows: '6', cols: '80' }
        .commentBox__note
          %text 相手のことを考え丁寧なコメントを心がけましょう。
          %br 
          %text 不快な言葉遣いなどは利用制限や退会処分となることがあります。
        .commentBox__submit
          %button{ type: 'submit', class: 'comment-btn' }
            %i.fa.fa-comment
            コメントする
      .links
        .links__left
          %i.fa.fa-angle-left
          = link_to '前の商品', '#'
        .links__right
          = link_to '後ろの商品', '#'
          %i.fa.fa-angle-right
      .relatedItems
        -# = link_to "#{@product.category.name}をもっと見る", '#'
%aside.banner
  .banner__inner
    %h2.banner__inner__title だれでもかんたん、人生を変えるフリマアプリ
    %p.banner__inner__text 今すぐ無料ダウンロード！
    .banner__inner__icon
      = link_to image_tag("/assets/Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.svg"), "#", class: 'banner__inner__icon__btn-apple'
      = link_to image_tag("/assets/google-play-badge.png"), "#", class: 'banner__inner__icon__btn-google'
= link_to "#" do
  .purchase-btn
    %span.purchase-btn__text 出品する
    = image_tag(asset_path("icon_camera.png"), class: "purchase-btn__icon")
= render "maintop/footer"